<ion-header>
  <ion-navbar>
    <ion-title>
      Maps Google
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-grid>-->
  <!--<ion-row *ngIf="!geoposition">-->
  <!--<ion-col text-center>-->
  <!--<ion-icon name="md-compass"></ion-icon>-->
  <!--</ion-col>-->
  <!--</ion-row>-->
  <!--<ion-row *ngIf="!geoposition">-->
  <!--<ion-col text-center>-->
  <!--<button ion-button (click)="getGeolocation()">Get Geolocation</button>-->
  <!--</ion-col>-->
  <!--</ion-row>-->
  <!--<ion-row *ngIf="geoposition">-->
  <!--<ion-col text-center>-->
  <!--<ion-card>-->
  <!--<ion-header>-->
  <!--<ion-card-title>Results</ion-card-title>-->
  <!--</ion-header>-->
  <!--<ion-card-content>-->
  <!--<ion-list>-->
  <!--<ion-item>-->
  <!--Accurancy: {{ geoposition.coords.accuracy }}-->
  <!--</ion-item>-->
  <!--<ion-item>-->
  <!--Altitude: {{ geoposition.coords.altitude }}-->
  <!--</ion-item>-->
  <!--<ion-item>-->
  <!--Altitude Accurancy: {{ geoposition.coords.altitudeAccuracy }}-->
  <!--</ion-item>-->
  <!--<ion-item>-->
  <!--Heading: {{ geoposition.coords.heading }}-->
  <!--</ion-item>-->
  <!--<ion-item>-->
  <!--Longitude: {{ geoposition.coords.longitude }}-->
  <!--</ion-item>-->
  <!--<ion-item>-->
  <!--Speed: {{ geoposition.coords.speed }}-->
  <!--</ion-item>-->
  <!--<ion-item>-->
  <!--Timestamp: {{ geoposition.timestamp | date }}-->
  <!--</ion-item>-->
  <!--</ion-list>-->
  <!--</ion-card-content>-->
  <!--</ion-card>-->
  <!--</ion-col>-->
  <!--</ion-row>-->

  <!--</ion-grid>-->

  <div #map id="map"></div>

</ion-content>
